h1 {
    font-family: "Century Gothic";
    font-size: 40px;
    text-align: center;
    width: 100%;
    block-size: 80px;
    color: white;
}

h2 {
    font-family: "Century Gothic";
    color: crimson;
    font-size: 20px;
    font-style: italic;
}

p {
    font-family: "Century Gothic";
    width: 60%;
    color: gray;
    block-size: 40px;
}

a {
    font-family: "Century Gothic";
    color: crimson;
}

img {
    max-width: 30%;
    height: auto;
    display: inline-block;
}

body{
    background-color: #222222;
}