h1 {
    font-family: "century-gothic", sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
    block-size: 80px;
    color: white;
}

h2 {
    font-family: "century-gothic", sans-serif;
    color: crimson;
    font-size: 20px;
    font-style: italic;
}

p {
    font-family: "century-gothic", sans-serif;
    width: 60%;
    color: gray;
    block-size: 40px;
}

a {
    font-family: "century-gothic", sans-serif;
    color: crimson;
}

img {
    max-width: 30%;
    height: auto;
    display: inline-block;
}

body {
    background-color: #222222;
}

.container {
    /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* You can also vertically center it if needed */
    align-items: center;
}

.center-text {
    /* Maintain left alignment */
    text-align: left;
}

  